



main {
  padding: 2rem;
}

section {
  padding: 2rem;
}

.type {
  color: lightgrey;
}


.carousel-item {
  height: 60vh;
  background-size: cover;
  background-position: center;
}

.slide-1 {
  background-image: url('/slide1.jpg');
}

.slide-2 {
  background-image: url('/slide2.jpg');
}

.carousel-item .text-container {
  
  padding: 20px;
  border-radius: 10px;
}


